
.room{
	margin:30px auto;
	border: 3px solid #777;
	border-radius:5px;
	padding: 20px;
	width:600px;
}
.room p{
	float: left;
	font-weight: bold;
	margin:20px 40px;
}
.room_selection{
	margin:20px 30px;
}
.room a{
	margin-left:450px;
}