<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	<bean id = "hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="hibernateTransactionManager" 
	class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	
	<!-- 配置事物通知，并配置hibernate事物管理器类 -->
	<tx:advice id="txAdvice" transaction-manager="hibernateTransactionManager">
		<tx:attributes>
			<tx:method name="save*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
			<tx:method name="update*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
			<tx:method name="delete*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
			<tx:method name="find*"  read-only="true"/>
			<tx:method name="load*"  read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<!-- 配置切入点 -->
		<aop:pointcut expression="execution(* service.*.*(..))" id="txPointCut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
	</aop:config>
	
	
	
	<bean id="ShowNotice" class="action.ShowNoticeAction">
		<property name="GetNoticeService" ref="GetNoticeService"></property>
	</bean>
	<bean id="GetNoticeService" class="service.GetNoticeServiceImpl">
		<property name="GetNotice" ref="GetNotice"></property>
	</bean>
	<bean id="GetNotice" class="dao.GetNoticeImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="ShowMeetingRoomAct" class="action.ShowMeetingRoomAction">
		<property name="ShowMeetingRoomService" ref="ShowMeetingRoomService"></property>
	</bean>
	<bean id="ShowMeetingRoomService" class="service.ShowMeetingRoomServiceImpl">
		<property name="ShowMeetingRoom" ref="ShowMeetingRoom"></property>
	</bean>
	<bean id="ShowMeetingRoom" class="dao.ShowMeetingRoomImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="addMeetingRoomAct" class="action.AddMeetingRoomAction">
		<property name="addMeetingRoomService" ref="addMeetingRoomService"></property>
		<property name="ShowMeetingRoomService" ref="ShowMeetingRoomService"></property>
	</bean>
	<bean id="addMeetingRoomService" class="service.AddMeetingRoomServiceImpl">
		<property name="addMeetingRoom" ref="addMeetingRoom"></property>
	</bean>
	<bean id="addMeetingRoom" class="dao.AddMeetingRoomImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="modifyAct" class="action.ModifyAction">
	</bean>
	<bean id="modifyMeetingRoomAct" class="action.ModifyMeetingRoomAction">
		<property name="meetingRoomService" ref="meetingRoomService"></property>
		<property name="ShowMeetingRoomService" ref="ShowMeetingRoomService"></property>
	</bean>
	<bean id="meetingRoomService" class="service.ModifyMeetingRoomServiceImpl">
		<property name="ModifyMeetingRoom" ref="ModifyMeetingRoom"></property>
		<property name="temp" ref="temp"></property>
	</bean>
	<bean id="ModifyMeetingRoom" class="dao.ModifyMeetingRoomImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="temp" class="dao.GetStateById">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<bean id="meetingDao" class="dao.MeetingDaoImpl" scope="prototype">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<bean id = "meetingService" class = "service.MeetingServiceImpl" scope="prototype">
		<property name="meetingDao" ref="meetingDao"></property>
	</bean>
	<bean id = "meetingForRoomAction" class = "action.MeetingForRoomAction" scope="prototype">
		<property name="meetingService" ref="meetingService"></property>
	</bean>
	<bean id = "meetingTimeChooseAction" class = "action.MeetingTimeChooseAction" scope="prototype">
		<property name="meetingService" ref="meetingService"></property>
	</bean>
	<bean id = "meetingRoomChooseAction" class = "action.MeetingRoomChooseAction" scope="prototype">
		<property name="meetingService" ref="meetingService"></property>
	</bean>
	

	<bean id="deleteMeetingRoomAct" class="action.DeleteMeetingRoomAction">
		<property name="deleteMeetingRoomService" ref="deleteMeetingRoomService"></property>
		<property name="ShowMeetingRoomService" ref="ShowMeetingRoomService"></property>
	</bean>
	<bean id="deleteMeetingRoomService" class="service.DeleteMeetingRoomServiceImpl">
		<property name="deleteMeetingRoom" ref="deleteMeetingRoom"></property>
	</bean>
	<bean id="deleteMeetingRoom" class="dao.DeleteMeetingRoomImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	
	<bean id="meetingRoomDetailAction" class="action.MeetingRoomDetailAction">
		
	</bean>
</beans>